body{margin: 0px!important;padding:0px;font-size: 13px;width: 100%;color: #4a4a4a;background:#FAFAFA;font-family: 'Open Sans', sans-serif!important;}
.header{background:#3C3C3B;float: left;width: 100%;height: 62px;}
h3{color: #4a4a4a;font-size: 20px;margin-bottom: 0px;font-weight: 500}
ul, ol{margin: 0px;padding: 0px;}
li{list-style: none;}
.btn-red:hover{background:#b21010!important;color: #fff!important;}
.btn-cancel:hover{color:#AA272F!important;text-decoration: underline!important;}
.logo-section{
    margin-top: 10px;
    width: 500px;
}
.logo-section span{color: #fff;font-size: 13px;line-height: 20px;}
.logo-section a > img {
    margin-top: -4px;width: 51px;display: inline-block;float: left;
}
.logo-section h1 {
   color:#cacac9!important;
    display: inline-block;
    font-size:9px!important;
    left: 7px;
    line-height:4px;
    position: relative;
    text-transform: uppercase;
    top:14px;
    font-family: "Nunito",sans-serif !important;
    letter-spacing: 2px;
    font-weight: normal!important;
}
.logo-section span{font-size: 9px;color:#fff}

.inner-wrapper{width: 1200px;margin:0 auto;} 
.profile-page .top-section{width: 100%;display: inline-block;}
.top-section {
    border-bottom: 1px solid #ddd;
    padding:10px 0;
    background: #aa272f;
    display: inline-block;
    width: 100%;
}
.top-section .user-action-section > a {color: #fff;font-weight: 500}
.user-action-section > a {
    color: #4a4a4a;
    font-size: 16px;
    /*padding-left: 25px;*/
}
.user-action-section > a i {
    font-size: 18px !important;
    padding-right: 6px;
}
.content-container{width: 1108px;margin:49px auto 0;position: relative;}
.content-wrapper {
    width: 100%;
    padding-top: 100px;
}
.navbar-brand, .navbar-nav > li > a{line-height: 36px;}
label {
    color: #4a4a4a!important;
    display: inline-block;
    font-size: 14px!important;
    font-weight: 500!important;
    margin-bottom: 11px;
    max-width: 100%;
    font-family: 'Nunito', sans-serif!important;
}
.register-screen input{border:0px!important;box-shadow: none;padding: 0px 0px 6px;color: #5a5a5a!important;}
.register-screen .form-group {margin-bottom: 23px;}
.pwd-wrap{position:relative;}
.pwd-input-btn {
    position: absolute;
    right: -112px;
    top: 29px;
}
.pwd-input-btn .btn{border:1px solid #015075!important; color: #015075!important;font-size: 12px;text-transform: uppercase;padding: 5px 17px!important;}
.register-user-profile img {
    border-radius: 50%;
    height: 150px;
    width:150px;
    display: inline-block;
    float: right;
}
.register-user-profile{float: right;text-align: center;}
.user-name{text-align: right;width: 100%;display: inline-block;}
.user-name > a {
    color: #929292;
    display: inline-block;
    font-size: 16px;
    padding: 15px 0;
    text-decoration: underline;
    font-weight: normal;
}
.btn-danger{background: #A82634!important}
.btn-cancel{color:#979797!important;text-decoration: underline;background:none!important;margin-right:20px;box-shadow: none!important;text-transform: none;font-size: 13px!important}

.undo-icon{
 /*   width:50px;*/
   /* height:43px;*/
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:19px;
    left:20;
    padding-left: 0px;
    margin:0;
    border:0;
    outline:0;
    line-height:45px;
    text-align:center;
    cursor:pointer;
    color:#DCDDD8;
 background:none!important;
}
.searchbox{
    position:relative;
    min-width:50px;
    width:0%;
    height:43px;
    float:right;
    overflow:hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    width:100%;
    height:43px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:15px;
    color:#fff;
    background: none!important;
}
.searchbox-input::-webkit-input-placeholder {
    color: #fff;
}
.searchbox-input:-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input:-ms-input-placeholder {
    color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit{
    width:50px;
    height:43px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:40px;
    text-align:center;
    cursor:pointer;
    color:#dcddd8;
 background:none!important;
}
.searchbox-icon-header{
    width:50px;
    height:43px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:40px;
    text-align:center;
    cursor:pointer;
    color:#dcddd8;
}
.searchbox-open{width:100%;}
.searchbox-open .searchbox-input{background:#841E24!important;color: #fff!important}
.inner-wrapper h1{font-size: 18px;float: left;margin:0px;color: #fff;font-weight: bold;font-family: 'Nunito', sans-serif;}
.toggle-menu{float: left;margin-top: 2px;}
.toggle-menu i{color: #fff;}
.user-section{width: 100%;background: #aa272f;display: inline-block;height:44px;}
.menu-section {
    display: inline-block;
    padding:9px 0 10px 0px;
    width: 100%;
}
.toggle-menu i {
    color: #fff;
    font-size: 18px;
    padding-right: 15px;
}
.search-section{position: relative; float:left; width:200px}
.search-section .filter-text {
    color: #fff;
    position: absolute;
    right:45px;
    top: 12px;
}
.right-section {
    display: inline-block;
    width:auto;
    text-align: right;
    position: relative;
    float: right;
}

.segmento-section.pull-right {
    width: 230px;
}
.search-section{display: inline-block; border-right: 2px solid #ba373f;width: auto;position: relative;}

.undo-search-section {
    border-left: 2px solid #fff;
    display: inline-block;
    padding-right:12px;
    float:left;
 /*   position: absolute;
    right: 5px;
    top: 2px;*/
    width: auto;
}
a{
    color:#DCDDD8;
}	
.segmento-section {
    display: inline-block;
    vertical-align: top;
    width:auto;
   /* margin-left: 30px;*/
    border-left: 2px solid #ba373f;
   /* min-height: 44px;*/
    margin-left: 14px;min-height: 43px;
}
.segmento-section label {
    color: #fff!important;
    float: left;
    padding:10px 10px 0;
    font-weight: normal !important;
    margin-bottom: 0;
}
.seg-select-wrap .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width: 80px;}
/*.seg-select-wrap {
    margin-top: -3px;
}*/
.dataTables_length {display: none;}
.dataTables_filter{display: none;}
.dataTables_info{display: none;}
.sort{float: left;}
.collapse-div{display: inline-block;position: relative;top: 4px;}
.table > thead > tr > th {
  border-bottom:0px!important;
    color: #4a4a4a;	
    font-size: 14px;
    vertical-align: bottom;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{border-top: 1px solid #f1f1f1;}
.table > tbody > tr > td{padding: 12px;color: #545454;vertical-align: middle;font-size: 13px;}
}
tbody {border: 1px solid #eee!important;display: inline-block;}
.progress{margin-bottom: 0px;height:7px;width: 100px;display: inline-block;}
.progress-count {
    display: inline-block;
    padding-left: 10px;
    line-height: 0px;
}
.progress-wrap {
    display: inline-block;
}
.up-arrow::before {
    border-color: transparent transparent #ddd;
    border-style: solid;
    border-width: 8px;
    bottom: 101%;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right:3px;
    width: 0;
}
.up-arrow::after {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 8px;
    bottom: 100%;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right:3px;
    width: 0;
}
.u-action .dropdown-menu{margin: 6px 0 0;left: -82px;min-width: 100px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;border:0px!important;}
.u-action .dropdown-menu.up-arrow > li {
    border-bottom: 1px solid #eee;
    padding: 5px;
}
.u-action .dropdown-menu > li > a {
    color: #777777;
}
.u-action .dropdown-menu > li > a:hover {
    color: #333;background: none!important;
}
.collapse-div .caret{margin-top: 8px;margin-left: 9px;}
.green-icon{color: #A9BD6B}
.orange-icon{color: #F38A00;font-size: 20px;}
.grey-icon{color: #6C6C6C;font-size: 20px;}
.input-search-wrapper{width: 100%;display: inline-block;position: relative;}
.srch-input-feild input{position: relative;}
.srch-input-btn {
    position: absolute;
    right:-32px;
    top:25px;
}
.register-user-profile1 img{
  
    border-radius: 0px;
    height: 150px;
    width:180px;
   
}
.register-user-profile1{float: right;margin-top: 28px;}
.check-header {
    border-bottom: 1px solid #eee;
    display: inline-block;
    padding: 10px 12px;
    width: 100%;
    height: 42px;
}
.inner-check-wrapper{ border: 1px solid #ddd;display: inline-block;width: 100%;margin-bottom: 30px;}
.scrollbox {
    height: 210px;
    overflow: auto;
    padding: 0 10px;
    width: 100% !important;
}
.scrollbox ul li {
    border-bottom: 1px solid #c2cfd3;
    margin-bottom: 10px;
}
.scrollbox ul li:last-child {
    border-bottom: 0 none;
}
.enscroll-track.track, .enscroll-track.track {
    border: 1px solid #f0f0f0;
    border-radius: 10px;
}
.enscroll-track.track .handle, .enscroll-track.track .handle {
    border: 3px solid #b1b1b1;
    border-radius: 10px;
    right: -2px;
}
.datos-de-empresa-wrapper.preguntas-abiertas-wrapper{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 0 40px 20px;
    font-size: 14px !important;
    padding:0px 34px 13px !important;
    text-transform: none;
    margin-bottom: 35px;
    width: 100%;
}
.content-container .preguntas-abiertas-wrapper .nav-tabs > li > a{border-radius:0px;background: #efefef none repeat scroll 0 0;font-size: 16px !important;padding: 21px 34px 13px !important;text-transform: none;}
.content-container .preguntas-abiertas-wrapper .nav-tabs{border-bottom: 0px!important}
.content-container .preguntas-abiertas-wrapper .nav-tabs > li.active > a{color: #aa272f !important;border-top: 0px!important;border-left: 0px!important;border-right:0px!important;border-bottom: 0px!important;}
.box-wrapper{width: 100%;display: inline-block;border:1px solid #ddd;margin-bottom: 25px;}
.inner-title{font-size: 12px;font-weight: bold;}
.inner-box-bottom p{font-size: 13px;line-height: 15px;margin-bottom: 20px;}
.box-top {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    padding:5px 5px 0 15px;
    width: 100%;
}
.box-bottom{display: inline-block;
    padding:10px 5px 0 15px;
    width: 100%;}
.btn-red{border:1px solid #B74A51; color: #B74A51;background: none!important;text-transform: uppercase;}
.table-br{border: 1px solid #ddd;border-top:0px!important;background: #fff;}
.chk-box {
    float: left;
    width: 50%;
}
.form-group{margin-top: 0px;}
.datos-de-empresa-wrapper .form-group:first-child{margin-top: 28px;}
.asignacion-de-segmentos, .diccionarios-wrapper {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
}
.asignacion-de-segmentos span{
font-weight: 500;font-size: 14px;margin-bottom:15px;display: inline-block;font-family: 'Nunito', sans-serif!important;
}
.inner-check-group-wrap{width: 100%;display: inline-block;}
.inner-check-group-wrap .scrollbox{padding: 0 0px 0 0px!important;height: 213px;}
.inner-check-group-wrap .checkbox span{margin-bottom: 0px}
.inner-check-group-wrap .scrollbox ul li{display:inline-block;width:100%;clear:both;border-bottom: 0px;padding-left: 13px;color: #505050;padding-top: 10px;padding-bottom: 10px;margin-bottom: -7px;}
li.even{background:#f7f7f7;}
.inner-check-group-wrap .scrollbox ul li .checkbox{margin-top: 0px;margin-bottom: 0px;}
.inner-check-group-wrap .scrollbox ul li .checkbox label{font-size: 14px;}
.region {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 10px;
}
.check-header-right .r-count{margin-bottom: 0px!important;}
.check-list-left {clear: both;
    display: inline-block;
    float: left;
    width:850px;
}
.check-list-right {
    display: inline-block;
    float: left;
    text-align: left;
}
.checkbox-group-wrapper {
   /* background: #fff none repeat scroll 0 0;*/
    display: inline-block;
    /*padding: 30px 15px;*/
    padding:13px 0 0;
    width: 100%;
}
.check-list-right span{margin-bottom: 0px!important}
.checkbox-group-wrapper .edit-user-button-wrap{margin-top: 0px!important;}
.check-header-right{text-align: center;}
.color-div span{border-radius:50%;width: 30px;height: 30px;}
.login-wrapper{width: 485px;margin:0px auto 0}
/* login Page */
.login-page{background: #3C3C3B;width: 100%;display:inline-block;}
.login-page .content-wrapper{padding-top: 50px}
.login-title h1 {
    color: #fff;
    font-size:25px;
    margin-bottom: 0;padding-top: 24px;
    font-family: 'Nunito', sans-serif;
}
.login-top{width: 100%;display: inline-block;}
.login-bottom {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    margin-top: 20px
}
.inner-login-wrapper label{font-weight: normal;}
.form-group .form-control::-moz-placeholder{color: #4a4a4a}

.btn-red{background: #A82634!important;color: #fff;min-width: 144px;text-transform: uppercase;font-weight: 600}
.form-input-wrap{padding: 40px 35px;width: 100%;display: inline-block;}
.inner-form-btn-section{padding: 40px 35px;width: 100%;display: inline-block;}
.form-btn-section{background: #F6F6F6;width: 100%;display: inline-block;border-top: 1px solid #ddd;border-radius: 5px;}
.l-bottom a {
    color: #fff;
    font-size: 14px;
    text-decoration: underline;font-weight: normal;
}
.l-bottom {
    text-align: center;
    width: 100%;
}
/* edit User Page*/
.editar-usuario-img-wrap img{border-radius: 50%;width:150px;height:150px;border:2px solid #fff;border:4px solid #ddd;}
.edit-user-form{width: 100%;display: inline-block;margin-top: 20px;}
.editrar-usuario-screen .form-group > span {
    display: inline-block;
    font-size: 15px;
    width: 100%;
}
.edit-user-form .form-group{margin-bottom: 28px;}
.edit-user-form .form-group label{font-weight: 500}
.edit-user-form .form-group:last-child{margin-bottom: 0px;}
.edit-user-form .asignar-empresas .inner-check-group-wrap .scrollbox ul li{border-bottom: 1px solid #ddd;}
.edit-user-form .asignar-empresas .inner-check-group-wrap .scrollbox ul li.odd{background: #f7f7f7;}
.edit-user-form .asignar-empresas .inner-check-group-wrap .scrollbox ul li.even{background: #fff;}
/*.edit-user-form .asignar-empresas .checkbox-group-wrapper{margin-top: 20px;}*/
.edit-user-form .asignar-empresas .inner-check-group-wrap .scrollbox{height: 192px;}
.edit-user-button-wrap.pull-right {
    margin-top:20px;
    margin-bottom: 30px;
}
.btn-edit{min-width: 86px;height: 32px!important;line-height: 31px!important;}
	
/* sidebar */
.sidebar-left{transform:translate(-220px, 0px);-webkit-transform:translate(-220px, 0px)}
.sidebar-left{left:0;min-height:100%;position:fixed;top:61px;
 transition:transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
 -webkit-transition:transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
 width:220px;z-index:810;min-width:inherit;margin:0;border: 1px solid #ddd;background: #fff;border:1px solid #ddd;}
.sidebar-left-collapsed .sidebar-left{transform:translate(0px, 0px);-webkit-transform:translate(0px, 0px)}
.sidebar-left-collapsed .sidebar-left{width:327px}
.toggle-menu{cursor: pointer;}
.sidebar-left .sidemenu ul{width: 100%;display: inline-block;}
.sidebar-left .sidemenu ul li{width: 100%;display: inline-block;padding: 28px 25px;border-bottom: 1px solid #ddd}
.sidebar-left .sidemenu a {
    color: #4a4a4a;
    font-size: 15px;
}

/* create new user */
.create-new-user-wrapper .create-user{margin-top: 20px;}
.create-new-user-wrapper .form-group label{font-weight: 500}
.create-new-user-wrapper .form-group:last-child{margin-bottom: 0px;}
.create-new-user-wrapper .asignar-empresas .inner-check-group-wrap .scrollbox ul li{border-bottom: 1px solid #ddd;}
.create-new-user-wrapper .asignar-empresas .inner-check-group-wrap .scrollbox ul li.odd{background: #f7f7f7;}
.create-new-user-wrapper .asignar-empresas .inner-check-group-wrap .scrollbox ul li.even{background: #fff;margin-bottom: 0px;}
.create-new-user-wrapper .asignar-empresas .checkbox-group-wrapper{margin-top: 5px;}
.create-new-user-wrapper .asignar-empresas .inner-check-group-wrap .scrollbox{height: 450px;}
.create-new-user-wrapper .checkbox-group-wrapper{background: none!important; padding: 10px 0;}
.create-new-user-wrapper .asignacion-de-segmentos span{margin-bottom: 0px;}

/* tab css */
.content-container .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus{color: #4a4a4a!important;}
.content-container .nav-tabs{background: none!important;}
.content-container .nav-tabs > li > a{border-bottom: 8px solid transparent!important;padding: 13px 36px 12px!important;font-size: 13px!important;font-weight: normal;}
.content-container .nav-tabs > li.active > a{font-weight:bold!important;border-bottom: 8px solid #4a4a4a!important;background: none!important;border-radius: 0px!important;}
.content-container .nav-tabs > li > a{padding: 13px 71px 12px!important;text-transform: uppercase;}
.box-title{margin-bottom: 0px!important;font-weight: bold !important;font-size: 12px!important;text-transform: uppercase;padding-top: 3px;}
/* Create New Indice */
.input-width{width: 400px;}
.create-new-indice .form-control, .help-text{color: #bdbdbd!important;}
.create-new-indice .form-control, .create-new-indice .form-group .form-control{background-image: linear-gradient(#aa272f, #aa272f), linear-gradient(#000, #000) !important;}
.create-new-indice .form-group .form-control::-moz-placeholder {
    color: #bdbdbd;
}   
.orange-circle{color: #F38A00}
.blue-circle{color:#015075}
.red-circle{color:#AA272F}
.green-circle{color:#6B8D00}
.maroon-circle{color:#612141}
.grey-circle{color:#9B9B9B}
.Seleccionar-color-wrap ul li {
    float: left;
    margin-right: 10px;
}
.Seleccionar-color-wrap ul li i{font-size:28px;}
.Seleccionar-color-wrap{direction: inline-block;width: 100%}
.inner-crear-nuevo{width: 100%;display: inline-block;}
.Crear-nuevo-indice-wrapper.create-new-user-wrapper .create-new-indice .scrollbox{height:350px;}
.Seleccionar-color-wrap h4{margin-top: 0px;font-size: 14px;font-weight: normal;margin-bottom: 0px;}

td .orange-circle{color: #F38A00;font-size:24px}
td .blue-circle{color:#015075;font-size:24px}
td .red-circle{color:#AA272F;font-size:24px}
td .green-circle{color:#6B8D00;font-size:24px}
td .maroon-circle{color:#612141;font-size:24px}
td .grey-circle{color:#9B9B9B;font-size:24px}

.table-action > a {
    color: #4c4c4c;
    font-size: 20px;
}
.last-text{color: #AA272F!important;text-transform: uppercase;}
.last-text a{color: #AA272F!important;text-transform: uppercase;font-weight: bold;}

.table-action .delete {
    margin-left:28px;
}
.list-de-indices-page .search-section{border-right: 0px!important}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{color: #aa272f!important}
.listing li {list-style: inherit;padding: 0 20px;margin-bottom:25px;}
.listing span {
    border-bottom: 1px solid #000;
    color: #4a4a4a;
    display: inline-block;
    width: 90%;
}
.diccionarios-wrapper .listing {margin-bottom: 60px;}
.listing ol {
    padding: 0 15px;
}    
.listing h3{font-size: 18px;margin-bottom: 10px;margin-top: 0px;}
.diccionarios-wrapper .form-horizontal {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #ddd;
    padding: 33px;
}
.b-btn .mdl-button{box-shadow:none;font-size: 12px;height: 27px;line-height: 25px;padding: 0 16px;background: none!important;border:1px solid #AA272F!important;color: #AA272F!important}
.u-action.dropdown button.active{border:1px solid #a5b670!important;color: #a5b670!important;background: none!important}
.btn-enviar{border:1px solid #ddd; color: #c0c0c0;background: none!important;box-shadow: none!important;font-size: 12px;height: 32px;line-height: 32px;}
.list-do-empresas-page .search-section{border-right: 0px!important;}
.nav_menu1 .nav.navbar-nav > li > a.user-profile{color:#D2D2D2!important;padding: 13px 0 12px 15px;font-size: 13px;}
.nav_menu1 .nav.navbar-nav > li > a.user-profile span{font-size: 11px;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{background: none!important;border:0px!important;}
.navbar-nav .open .dropdown-menu{border-radius: 0px!important;}
.dropdown-menu > li.first > a{color: #4a4a4a!important;}
.dropdown-menu li{border-bottom: 1px solid #ddd;padding: 6px}
.dropdown-menu li:hover {background: #EDEDED!important;}
.dropdown-menu li a:hover {color: #4a4a4a!important;}
/*li.first{color: #4a4a4a!important;background: #EDEDED!important;}*/
.close{color: #a82634!important;font-size: 27px!important;opacity: 1!important;}
.caret-icon {
    position: absolute;
    right: 7px;
    top: 14px;
    cursor: pointer;
}
.caret-icon i{color: #727272;}
.drop-wrapper{position: relative;}
.checkbox input[type="checkbox"]:checked + .checkbox-material .check::before{color:#AA272F!important;}
.checkbox input[type="checkbox"]:checked + .checkbox-material .check {
    border-color: #aa272f!important;
    color: #aa272f!important;
}
.b-btn {
    position: relative;
    top: -3px;
}
.form-control, .form-group .form-control {background-image: linear-gradient(#aa272f, #aa272f), linear-gradient(#000, #000)!important;}
.benchmark-authorizados-detail-wrap .form-group .checkbox p {
    display: inline-block;
    line-height: 0;
    margin-bottom: 0;
    padding: 0 10px;
}
.benchmark-authorizados-detail-wrap .form-group:first-child{margin-top: 0px;}
.mi-perfil .top-section{background: #fff;}
.mi-perfil .top-section a{color: #4a4a4a!important;font-weight: normal;}
.table-caret.fa.fa-caret-down {
    position: relative;
    right: -85px;
}
.usarious-page .search-section{border-right: 0px;}
.table > thead > tr > th {
    padding: 8px 8px 8px 0!important;
    /*font-family: 'Nunito', sans-serif!important;*/
}
.inner-login-wrapper .form-control, .form-group .form-control{background-image: linear-gradient(#aa272f, #aa272f), linear-gradient(#a7bb67, #a7bb67) !important;background-size: 0 2px, 100% 1px;}
.form-input-wrap label{margin-bottom: 2px;}
.login-remember-wrap .region{left: 5px;top: 0;font-family: 'Nunito', sans-serif}
.mdl-button{font-family: helvetica!important;}
.login-title h1 img{margin-left: -7px;}
.form-input-wrap .form-group {margin-bottom: 4px;}
.user-profile img{margin-left: 10px;height: 35px;width: 35px;margin-right: 2px!important;}
.create-new-user-wrapper .create-new-indice .asignar-empresas .inner-check-group-wrap .scrollbox ul li{border-bottom: none;}
textarea.form-control {height: 40px;}
.create-new-user-wrapper .scrollbox ul li .checkbox .region{top: 0;}
#my-display-element { margin-bottom: 15px;width: 100%;margin-left: 0px;}
.create-new-user-wrapper .form-control, .form-group .form-control {
    background-image: linear-gradient(#aa272f, #aa272f), linear-gradient(#000, #000) !important;
    background-size: 0 2px, 100% 1px;
}
.create-new-user-wrapper .create-user .form-group{margin-bottom: 30px;}
.seg-select-wrap {
    display: inline-block;
    width: auto;
    position: relative;
    top:7px;
    padding: 0 0 0 5px;
}

.seg-select-wrap .form-control{
    background-image: none!important;
    /*font-size: 13px!important;*/
    font-size:12px;
    padding:3px 5px !important;
    color: #fff!important;
}
.seg-select-wrap  .caret-icon i {color: #fff;padding-top: 6px;}
.seg-select-wrap .caret-icon {
    height: 26px;
    padding-left: 10px;
    position: absolute;
   /* right: 5px;
    top: 2px;*/
    right:2px;top:2px
}
.seg-select-wrap .form-group{margin-bottom: 0px!important}
#fixed-tab {left: auto;position: fixed;top: 107px;z-index: 2;}
#smooth-content{padding-top: 40px;}
#smooth-content .tab-pane{position: relative;z-index: 1}
.datos-de-empresa-wrapper #fixed-tab li{background: #fff!important;border-bottom: 1px solid #ddd;max-width: 277px;}
.listing li .form-group .form-control::-moz-placeholder{color: #707070;}
.listing li:last-child form-group{margin-bottom: 37px;}
.cencosud-feild > span {color: #8d8d8d;display: inline-block;font-size: 14px !important;width: 100%;}
#home .form-group {margin-bottom: 30px;}
.diccionarios-wrapper p{font-weight: bold;margin-bottom: 8px;	}
.perfil-feild span{width: 100%;display: inline-block;font-size: 14px;}
.progress .progress-bar, .progress .progress-bar.progress-bar-default {background-color: #5e9cae;}
.edit-user-form .asignar-empresas .region{top: 0px;}
.btn-red{box-shadow: 0 3px 1px #4a4a4a!important;}
.sidemenu img {display: inline-block;margin: -7px 4px 0 0;}
.progress-bar-wrapper .progress{width: 100%;height: 100%;}
.progress-red{background-color: #AA272F!important;}
.progress-yellow{background-color:#F38A00!important;}
.progress-green{background-color:#6B8D00!important;}
.progress-dark-blue{background-color:#015075!important;}
.progress-light-blue{background-color:#75ADDE!important;}
.progress-light-green{background-color:#5E9CAE!important;}
.progress-grey{background-color:#9B9B9B!important;}
.progress-brown{background-color:#4A4A4A!important;}
.progress-maroon{background-color:#612141!important;}
.faint-red{background-color:#D69B9F!important;}
.faint-yellow{background-color:#F7C889!important;}
.faint-green{background-color:#BAC989!important;}
.faint-dark-blue{background-color:#8AAEBE!important;}
.faint-light-blue{background-color:#BED8EE!important;}
.faint-light-green{background-color:#B4D0D8!important;}
.faint-grey{background-color:#CFCFCF!important;}
.faint-brown{background-color:#ABABAB!important;}
.faint-maroon{background-color:#B598A7!important;}
.progress-red-odd{background-color:#B23E45!important;}
.progress-yellow-odd{background-color:#F49416!important;}
.progress-green-odd{background-color: #608200!important;}
.progress-dark-blue-odd {background-color: #004267!important;}
.progress-light-blue-odd {background-color: #669ecf!important;}
.progress-maroon-odd {background-color: #591939!important;}
.progress-brown-odd {background-color: #404040!important;}
.progress-grey-odd {background-color: #8f8f8a!important;}
.progress-light-green-odd {background-color: #5492a4!important;}
.progress-bar-wrapper #accordion .panel{border-radius:0px!important;box-shadow: none!important;background: none!important;margin-bottom: 5px!important;}
.progress-bar-wrapper #accordion .panel-heading{background:none!important;padding: 0px!important;height:auto;}
.progress-bar-wrapper #accordion .progress{border-radius:0px!important;}
.progress-bar-wrapper #accordion .progress-bar{font-size: 18px!important;font-weight: bold!important;padding: 14px 15px!important;text-align: left!important;}
.p-right-content {color: #fff;display: inline-block;float: right;font-size: 25px;font-weight: bold;line-height: 47px;padding: 0 20px 0 0;text-align: right;}
.progress-bar-wrapper #accordion .progress-container .progress{border-radius: 0px!important}
.progress-bar-wrapper #accordion .progress-container .progress .progress-bar{font-size: 13px !important;font-weight: normal!important;padding: 9px 15px !important;}
.progress-bar-wrapper #accordion .progress-container .progress .p-right-content{font-size: 18px;line-height: 39px;font-weight: normal;}
.common-margin {margin: -4px 0 0;}
.progress-margin {margin: -6px 0 0;}
.modelo-gitwork-wrapper p{line-height: 19px;}
.user-action-section a i.fa-copyright{font-size: 12px!important;font-weight: 600;}
.segment-select .form-horizontal .form-group{margin:0px!important;position: relative;}
.segment-select .form-horizontal .form-group label{display: inline-block;float: left; margin:-3px 0 0 !important;}
.segment-select .form-horizontal .form-group .drop-wrapper{display: inline-block;float: left;width: 200px;margin: -11px 0 0 10px;}
.segment-select .form-horizontal .form-group select.form-control{font-size:14px!important;height: 33px!important;}
.segment-remove {
    display: inline-block;
    margin:1px 0 0 50px;
    vertical-align: top;
}
.segment-select {
    display: inline-block;
}
.segment-remove > span {
    color: #aa272f;
    cursor: pointer;
    margin-bottom: 0 !important;
    text-decoration: underline;
}
.listing .mdl-list__item{border-bottom: 1px solid #000;margin-bottom: 20px;width: 90%;padding: 0 20px 0 0;line-height: 1px;}
.listing .mdl-list__item span{color: #707070}
.datos-de-empresa-wrapper .nav-tabs > li > a {padding: 13px 103px 12px !important;}
.user-name{margin-top: 12px;}
#CompanyDetailsForm .register-user-profile1 .user-name{text-align: center;}
.seg-select-wrap .form-group{margin-bottom:0px!important;padding-bottom:0px!important;}
.btn-circle{height: 25px!important;width: 25px!important}
#add_kpi .form-group .form-control::-moz-placeholder{color: #939393;font-size: 14px;}
#add_kpi .edit-user-button-wrap.pull-right{margin-top: 0px;padding-right: 0px}
.pop-del-btn{min-width: 93px;}
#confirmModal .modal-content .modal-header{padding: 15px 24px 0;}
.modal{top: 240px!important;}
.form-group .form-control::-moz-placeholder{font-size: 14px!important;}
.select{font-size: 14px!important;}
.bench-authorization-wrapper {display: inline-block;margin-top: 40px;width: 100%;}
.bench-authorization-wrapper > h3, .access-setting-wrapper h3 {font-size: 14px;}
.access-setting-wrapper{display: inline-block;margin-top: 20px;width: 100%;}
.inner-assign-segment .edit-user-button-wrap {margin-top: 0px!important;margin-bottom: 10px!important;}
/*.edit-user-button-wrap a:hover{color: #fff!important;}*/
#add_kpi .scrollbox ul li .checkbox .region {top: 3px;color: #7e7e7e !important;font-weight: normal!important;}
.colorpicker i {position: relative;top: -1px!important;}
.seg-select-wrap .caret-icon i{font-size:10px; padding-top:8px;}


@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
   .seg-select-wrap  .caret-icon i{padding-top:8px}
   .seg-select-wrap .form-control{padding: 3px 8px !important;}   
}
#select111{height: 29px;border:1px solid #CFA1A4;background: #91282E;}
/* Added by Ashutosh for study filter in manage segment page*/
#studySegment{height: 29px;border:1px solid #CFA1A4;background: #FFF;font-color: #0b0a0a !important,width: auto;}

.study-select-wrap {
    display: inline-block;
    width: auto;
    position: relative;
    top:7px;
    padding: 0 0 0 0px;
}










/*#fixed-tab{position: fixed;left: 0;right: 0;}
#smooth-content{padding-top: 100px;}*/
/*.table-section .nav > li > a{padding: 0px!important}
.table-section .navbar-nav{float: none!important;}
.table-section .navbar-nav > li {
    float: none;
}
.table-section .navbar-brand, .navbar-nav > li > a {
    line-height: 16px;
}
.table-dropdown .dropdown-menu{top: 24px;}*/

/*table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
    display: block;
    font-family: "Glyphicons Halflings";
    opacity: 0.5;
    position: absolute;
    right: 8px;
    top: 8px;
}
table.dataTable thead .sorting::after {
    content: "";
    opacity: 0.2;
}
table.dataTable thead .sorting_asc::after {
    content: "";
}
table.dataTable thead .sorting_desc::after {
    content: "";
}
div.dataTables_scrollBody table.dataTable thead .sorting::after, div.dataTables_scrollBody table.dataTable thead .sorting_asc::after, div.dataTables_scrollBody table.dataTable thead .sorting_desc::after {
    display: none;
}
table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after {
    color: #eee;
}*/