<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteCond %{HTTP:X-Forwarded-Proto} !(https|^$)
   RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>